@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

/* ################################ COLORS ################################ */
/* Logo colors:
DAE3F3 - Top bar
6087CE - Middle bar 7798D4 - (Brighter for :btn)
B4C7E7 - Bottom bar
82A1D8 - Background
F2F2F2 - Text

QINT BACKGROUND:
434954 - Background
*/

.qd-btn {
  font-family: 'montserrat', sans-serif;
  color: black;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: #7798d4;
  border-color: #7798d4;
}

.qd-btn:hover {
  background-color: #6087ce;
  border-color: #6087ce;
}

.qd-btn-wide {
  padding-left: 1rem;
  padding-right: 1rem;
}

.qd-btn-xl {
  padding: 1.25rem 2.5rem;
  font-family: 'montserrat', sans-serif;
  color: black;
  font-size: 1.125rem;
  font-weight: 700;
}
